*, body { 
	text-align: center;
	font-family: helvetica;
	margin: 0px;
	color: #ffffff;
	letter-spacing: 2px;
}

section {
	min-height: 100vh;
}

.flex {
	display: flex;
}

.center {
	justify-content: space-around;
	align-items: center;
}

.hero {
	background-image: url(./img/backdrop_blank_blue.jpg);
	background-size: cover;
	background-position: center;
}

.title {
border: 3px solid #ffffff;
padding: 25px;
margin: 25px;
font-size: 50px;
font-weight: 100px;
}

.email {
	border:1px solid #ffffff;
	background-color: #efefef;
	padding: 10px 35px;
	font-size: 16px;
}

.button {
	padding: 10px 25px;
	border:1px solid #ffffff;
	font-size: 16px;
	color: #58757;
	background-color: #ffffff;
}

.mc-field-group {
	padding: 10px;
}